* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bg-color: #0f1016;
    --card-bg: #1b1d26;
    --accent-color: #e50914;

    --text-color: #ffffff;
    --text-secondary: #9ca3af;
    --input-bg: #262936;
}

body {
    background-color: var(--bg-color);
    color: var(--bg-color);
    padding-bottom: 60px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: sticky;
    top: 0;
    background: rgba(11, 15, 25, 0.7);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--accent-color);
    text-transform: uppercase;
    text-decoration: none;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.9rem;
}

nav a:hover {
    color: var(--card-bg);
}

.about-hero {
    color: #ffffff;
    text-align: center;
    padding: 80px 20px;
}

.about-hero h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    background: linear-gradient(to right, #ffffff, #00e5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-hero p {
    color: #94a3b8;
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 30px;
}


.about-content {
    padding: 60px 10%;
    background-color: #0b0f19;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    background: radial-gradient(circle at top, #94a3b8 0%, #0b0f19 70%);
    color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.about-section h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 28px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

.about-section p {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: justify;
}


.section-divider {
    border: 0;
    height: 1px;
    background: #e0e0e0;
    margin: 40px 0;
}


.values-list {
    list-style-type: none;
    padding-left: 5px;
}

.values-list li {
    margin-bottom: 12px;
    font-size: 16px;
    position: relative;
    padding-left: 20px;
}


.values-list li::before {
    content: "■";
    color: #3498db;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0px;
}


footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #94a3b8;
    font-size: 0.9rem;
}