* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bg-color: #0f1016;
    --card-bg: #1b1d26;
    --accent-color: #e50914;

    --text-color: #ffffff;
    --text-secondary: #9ca3af;
    --input-bg: #262936;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-bottom: 60px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: sticky;
    top: 0;
    background: rgba(11, 15, 25, 0.7);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--accent-color);
    text-transform: uppercase;
    text-decoration: none;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.9rem;
}

nav a:hover {
    color: var(--card-bg);
}


.container {
    max-width: 1100px;
    margin: 60px auto 0 auto;
    padding: 0 20px;
}

.contact-box {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    background: radial-gradient(circle at top, #00e5ff 0%, #0b0f19 70%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.03);
}


.contact-info {
    background: radial-gradient(circle at top, #98af7e 0%, #0b0f19 70%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.contact-info p {
    color: var(--text-secondary);
    line-height: 1.6;
    margin-bottom: 30px;
}

.info-details {
    margin-bottom: 30px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.info-icon {
    font-size: 1.4rem;
    color: var(--accent-color);
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-icon-tg {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background 0.3s, transform 0.3s;
}
.social-icon-wt {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background 0.3s, transform 0.3s;
}
.social-icon-yt {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background 0.3s, transform 0.3s;
}
.social-icon-ab {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background 0.3s, transform 0.3s;
}

.social-icon-tg:hover {
    background-color: #e1306c;
    transform: translateY(-3px);
}
.social-icon-wt:hover {
    background-color: green;
    transform: translateY(-3px);
}
.social-icon-yt:hover {
    background-color: var(--accent-color);
    transform: translateY(-3px);
}
.social-icon-ab:hover {
    background-color: var(--text-secondary);
    transform: translateY(-3px);
}


.contact-form-wrapper {
    padding: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 0.85rem;
    color: var(--input-bg);
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    background-color: var(--bg-color);
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 14px;
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--accent-color);
    background-color: rgba(38, 41, 54, 0.5);
}

.form-group textarea {
    resize: none;
    height: 140px;
}


.btn-submit {
    width: 100%;
    background: radial-gradient(circle at top, #85f505 0%, #252629 70%);
    color: #fff;
    border: none;
    padding: 14px;
    display: inline-bloc;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 20px 50px rgba(0, 229, 255, 0.3);
}

.btn-submit:hover {
    background-color: #b80710;
}

.btn-submit:active {
    transform: scale(0.98);
}


@media (max-width: 768px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .contact-info {
        padding: 30px;
    }

    .contact-form-wrapper {
        padding: 30px;
    }
}
footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #94a3b8;
    font-size: 0.9rem;
}